
<div class="top-header-bar">
    <div class="container">
        <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
            <div
                class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                <div class="header-bar-email">
                    MAIL: <a href="mailto:contact@ourcharity.com">contact@ourcharity.com</a>
                </div><!-- .header-bar-email -->

                <div class="header-bar-text">
                    <p>PHONE: <span>+24 3772 120 091 / +56452 4567</span></p>
                </div><!-- .header-bar-text -->
            </div><!-- .col -->

            <div
                class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                <div class="donate-btn">
                    <a href="#">Donate Now</a>
                </div><!-- .donate-btn -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div>